:root {
  --bmw-blue: #3369d3;
  --white: #fff;
  --light-gray: #858585;
  --gray: #4e4e4e;
  --dark-gray: #343434;
  --black: #000;
  --open-sans: 'Open Sans', sans-serif;
  --cairo: 'Cairo', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

.underline {
  margin-top: 20px;
  width: 70vw;
  height: 1px;
  background-color: var(--gray);
}

.carousel .nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 12px;
  font-family: var(--cairo);
  text-align: left;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: var(--white);
  opacity: 1;
  z-index: 1000000;
}

.carousel .nav .nav-bmw {
  color: var(--white);
  cursor: pointer;
}

.carousel .nav .test-drive {
  margin-left: 50px;
  cursor: pointer;
}

.carousel .nav .logo-bmw {
  margin-top: 10px;
  margin-left: auto;
  width: 0px;
  height: 10px;
  background: transparent url(/img/bmw_logo.svg) 0% 0% no-repeat padding-box;
}

.carousel .nav .nav-subtitle-text {
  margin-top: 20px;
  margin-left: auto;
  font-size: 10px;
  font-family: var(--cairo);
  color: var(--white);
  text-align: right;
  opacity: 1;
}

.carousel .nav .nav-subtitle-text .nav-subtitle {
  font-weight: bold;
}

.carousel .nav .nav-subtitle-text .nav-subtitle .nav-subtitle-continue {
  font-weight: 300;
}

.carousel .carousel-indicators {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 40px;
}

.carousel .carousel-indicators .indicator-size {
  width: 40px;
  height: 4px;
}

.carousel .carousel-indicators .active {
  background-color: var(--bmw-blue);
}

.carousel .title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 12px;
  font-family: var(--cairo);
  text-align: left;
  font-weight: bold;
  letter-spacing: 0.9px;
  color: var(--white);
  opacity: 1;
  z-index: 1000000;
}

.carousel .title .logi-i {
  margin-top: 400px;
  height: 20px;
  width: 20px;
}

.carousel .title .title-bmw-i {
  margin-top: 10px;
  font-family: var(--cairo);
  color: var(--white);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  opacity: 1;
}

.carousel .title .subtitle-bmw {
  text-transform: uppercase;
  font-size: 10px;
}

.carousel .visit-button {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  opacity: 1;
  z-index: 1000000;
  cursor: pointer;
}

.carousel .visit-button .button-square {
  padding: 15px 70px;
  background-color: var(--bmw-blue);
  border: none;
}

.carousel .visit-button .button-square .button-title {
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--cairo);
  color: var(--white);
}

.carousel .hero-shadow::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: inset 10px 0px 10px black;
          box-shadow: inset 10px 0px 10px black;
}
/*# sourceMappingURL=style.css.map */